/**index.wxss**/
@import '../../app.wxss';
.top {
  
  height: 150px;
}

.list {
  width: 100%;
  margin: 0 0 5px 0;
}

.list-item {
  width: 100%;
  margin-bottom: 5px;
}

.item {
  padding-top: 10px;
  background-color: #4b4b4b;
  color: #ffca32;
}

.flex-row{
  display: flex;
  justify-content: space-around;
}

.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.top-text {
  width: 90%;
  height: 240px;
  line-height: 1.5;
  text-indent: 2em;
  font-weight: bold;
}

.item-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item-pic {
  width: 100px;
  height: 100px;
  margin: 15px 0 10px 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-text {
  width: 120px;
  height: 80px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 100;
}

.three-text {
  width:90%;
  height: 95px;
  text-indent:2em;
  font-size:16px;
}

.part-button {
  width: 100px;
  height: 40px;
  margin: 5px 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid #ffca32;
}

.bottom {
  width: 240px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
}