/* pages/order/no_pay/index.wxss */
@import '../../../app.wxss';
@import '../../order/index.wxss';

.cancel-button {
  background-color: #f0f0f0;
  color: #404040;
  margin: 0 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.middle {
  display: flex;
  margin: 5px 0;
  padding: 0 10px;
  justify-content: space-between;
}

.quantity {
  font-size: 14px;
  letter-spacing: 2px;
}

.prices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  font-size: 14px;
}

.total {
  font-weight: 550;
  font-size:16px;
  padding-left: 10px;
}