<!--pages/profile/index.wxml-->
<head text="我的"></head>
<view class="container" style="padding-top:{{pageTopHeight}}px;height:100vh">
 <view class="list">
 
  <!-- <block wx:else> -->
    <view class="user-info">
      <view class="user-avatar">
        <open-data type="userAvatarUrl"></open-data>
      </view>
      <view class="user-id">
        <open-data type="userNickName"></open-data>
      </view>
    </view>
    <view class="user-order">
      <view class="my-button" bindtap="toPaid">
        <view class="btn-text">已支付订单</view>
        <view class="iconfont icon_paid" style="font-size:24px;color:#13227a"></view>
      </view>
      <view class="my-button" bindtap="toPrepaid">
        <view class="btn-text">未支付订单</view>
        <view class="iconfont icon_prepay" style="font-size:24px;color:#F4393B"></view>
      </view>
    </view>
    <!-- <button bindtap="exit" class="login-button my-button">退出</button> -->
  <!-- </block> -->
 
 </view>
</view>
